/* Full Game Style */
body {
	background-color: #fff;
	font-family: 'Montserrat';
	margin: 0px;
	color: black;
	overflow: auto;
	padding-top: 35px;
}

.top {
	border-bottom: 2px solid black;
	background-color: whitesmoke;
	font-size: 15px;
	padding: 4px;
	margin-top: -35px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
}
.buttons {
	position: absolute;
	right: 5px;
}
.top .buttons button {
	background-color: inherit;
	color: #6b6b6b;
	font-size: 15px;
	text-align: center;
	margin: 0px;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	font-family: 'Montserrat';
}
.top .buttons button:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
}
.bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 2px solid black;
	text-align: center;
	font-size: 14px;
	padding: 4px;
	background-color: whitesmoke;
}
.bottom a {
	text-decoration: none;
	color: black;
}

.content {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0px;
	background-color: white;
}
.main {
	flex-direction: column;
	background-color: #fff;
	min-width: 600px;
	max-height: 600px;
}
.side {
	display: flex;
	height: 70vh;
	flex-direction: column;
	background-color: white;
	min-width: 300px;
	max-width: 300px;
	padding: 10px;
	margin-top: 58px;
	align-items: center;
	overflow: hidden;
}
.right-cell {
	text-align: right;
	min-width: 175px;
	max-width: 175px;
}
.left-cell {
	min-width: 100px;
	max-width: 100px;
}
table {
	border: none;
	padding: 4px;
	margin: 0;
}
fieldset {
	border: 1px solid black;
	padding: 0;
	margin: -5px 0 30px 0;
}
legend {
	margin: 0 20px;
}
#logs {
	display: flex;
	flex-direction: column-reverse;
	width: 290px;
}
#logs p {
	margin-top: 0px;
	margin-bottom: 30px;
}

#balanceRow {
	font-weight: 900;
}

#upgradesCaption, #buildingsCaption, #toolsCaption {
	min-width: 580px;
	max-width: 580px;
	min-height: 50px;
	max-height: 50px;
	display: flex;
	align-items: center;
	color: black;
	font-size: 16px;
	margin-left: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}

/* Style the tab */
.tab {
	overflow: hidden;
	background-color: #fff;
	border: none;
	margin: 10px;
}
.tab button {
	background-color: inherit;
	color: #6b6b6b;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	font-family: 'Montserrat';
}
#defaultOpen {
	visibility: visible;
}
.tab button:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
}
.tab button.active {
	text-decoration: underline;
	text-decoration-color: #ff6a00;
	color: black;
}
.tab button.active:hover {
	text-decoration-color: #ff6a00;
	color: black;
	cursor: context-menu;
}

/* Style the tab content */
.tabcontent {
	display: flex;
	padding: 5px;
	border: none;
	animation: fadeEffect 0.7s;
	margin: 10px;
}


.main-button {
	font-family: 'Montserrat';
	border: 1px solid black;
	min-width: 200px;
	max-width: 200px;
	min-height: 34px;
	max-height: 34px;
	font-size: 16px;
	vertical-align: middle;
	background-color: #fff;
	margin: 5px;
	margin-bottom: 0px;
	cursor: pointer;
	animation: boxShadowNone 0.1s;
	box-shadow: none;
}
#huntButton {
	padding: 0;
	display: flex;
	flex-direction: row-reverse;
	background-color: #fff;
}
#progressBar {
	background-color: #fff;
	width: 0%;
	height: 32.5px;
}
#huntText {
	position: absolute;
	align-self: center;
	width: 198px;
	text-align: center;
	color: black;
}

.main-div {
	font-family: 'Montserrat';
	border: 1px solid black;
	min-width: 198px;
	max-width: 198px;
	min-height: 33px;
	max-height: 33px;
	font-size: 16px;
	vertical-align: middle;
	background-color: #fff;
	margin: 10px 5px 0px 5px;
	line-height: 34px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	animation: boxShadowNone 0.1s;
	box-shadow: none;
}
.xOne, .xTen, .xHund, .all, .xOneLeather, .xTenLeather, .xHundLeather, .allLeather, .xOneBone, .xTenBone, .xHundBone, .allBone, .xOneFur, .xTenFur, .xHundFur, .allFur {
	width: 40px;
	color: #6b6b6b;
}
.xOne:hover, .xTen:hover, .xHund:hover, .all:hover, .xOneLeather:hover, .xTenLeather:hover, .xHundLeather:hover, .allLeather:hover, .xOneBone:hover, .xTenBone:hover, .xHundBone:hover, .allBone:hover, .xOneFur:hover, .xTenFur:hover, .xHundFur:hover, .allFur:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
}
.xOneBait, .xTenBait, .xHundBait {
	width: 50px;
	color: #6b6b6b;
}
.xOneBait:hover, .xTenBait:hover, .xHundBait:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
}

.main-button:hover, .main-div:hover {
	animation: boxShadowFull 0.1s;
	box-shadow: 0 0 4px black;
}
.main-button:active, .main-div:active {
	animation: boxShadowNone 0.1s;
	box-shadow: none;
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}


@keyframes boxShadowNone {
	from {box-shadow: 0 0 4px black;}
	to {box-shadow: none;}
}
@keyframes boxShadowFull {
	from {box-shadow: none;}
	to {box-shadow: 0 0 4px black;}
}